<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.infoq.com/cn/author/%E9%83%AD%E4%BF%8A" target="_blank" title="Jason">发表在InfoQ上的文章</a></li>
    </ul>
</div>
