<div class="rsspart">
	<a href="http://eepurl.com/bLDcFD" target="_blank">邮件订阅</a>
	<!--
	<a href="javascript:popup()" target="_blank" title="rss">邮件订阅</a>
	
	<input type='button' value='邮件订阅' onclick='popup()'/ style='color: #000;display: block;padding: 0.625em 0;text-align: center;text-decoration: none;margin: 0;border: 0;outline: 0;font-weight: inherit;font-size: 100%;vertical-align: baseline;font-family: "FontAwesome";'>


	<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
	</script>
	<script type="text/javascript">
		function popup() {
			require(["mojo/signup-forms/Loader"], function(L)
				{
					L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"35e79014b0dba3ad75a8052ff","lid":"178433aafe"})
				}
			)
		}
	</script>
	-->
</div>